@{
    ViewData["Title"] = "Account";
}
<body>

    <div class="banner">
        <h1>BuildIT Computers</h1>
        <h2>Support services:</h2>
    </div>

    <div id="sup_main">
        <div class="group">
            <h2>Hello @ViewData["UserName"]</h2>
            <p>Welcome to your account page.</p>
        </div>
    </div>
</body>