@{
    ViewData["Title"] = "Account";
}
<body>

    <div class="banner">
        <h1>Modernais-IT</h1>
        <h2>Jūsu dati:</h2>
    </div>

    <div id="sup_main">
        <div class="group">
            <h2>Sveiki @ViewData["UserName"]</h2>
            <p>Sveicināti jūsu konta lapā.</p>
        </div>
    </div>
</body>