@{
    ViewData["Title"] = "Sākums";
}
<body id="prod_bg">
    <Section class="parallax-container">
        <div class="banner">
            <h1>Modernais-IT</h1>
            <h2>Jūsu palīgs IT sistēmu modernizācijā</h2>
        </div>

        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content1">
                            <div class="image1" onclick="location.href='@Url.Action("ShopCategory", "Prodcut")'" style="cursor: pointer;">
                                <img src="~/images/ci2.jpg" alt="">
                            </div>
                            <div class="text">
                                <p>Jauniem klientiem pirmā konsultācija <b>pilnīgi par brīvu!</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content1">
                            <div class="image1" onclick="location.href='@Url.Action("ShopCategory", "Prodcut")'" style="cursor: pointer;">
                                <img src="~/images/r.jfif" alt="">
                            </div>
                            <div class="text">
                                <p>Nepieciešama papildus palīdzība? Ar mūsu tiešsaistes rīku vari iesniegt pieteikumu vai jautājumu par savu IT sistēmas nomaiņu.</p>
                                <p>Rīka formu var aipildīt zemāk <b>↓</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content1">
                            <div class="image1" onclick="location.href='@Url.Action("Builder", "Home")'" style="cursor: pointer;">
                                <img src="~/images/ci3-n.jpeg" alt="">
                            </div>
                            <div class="text">
                                <p>Vairāk par mājasdarbiem.</p>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </Section>
    
    <section class="buffer"></section>

    <Section class="parallax-container parallax-container2"> 
        <div class="banner blurred">
            <h1>Sadarbībbas partneri</h1>
            <h2 blurred="banner">Mūsu pakalpojumus un Jūsu IT risinājumus palīdz realizēt mūsu sadarbības partneri:</h2>
        </div>
        <div id="main">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="~/icons/tet.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lmt.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/apple-logo.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/mk.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/dell.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/hp.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lenovo.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lg.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/microsoft.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/samsung.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/tet.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lmt.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/apple-logo.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/mk.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/dell.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/hp.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lenovo.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/lg.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/microsoft.png" height="100" width="250" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/icons/samsung.png" height="100" width="250" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
        </div>
    </Section>

    <section class="buffer">
        <h1 class="buf1">Atstājiet mums ziņu:</h1>
    </section>

    <Section class="parallax-container parallax-container3"> 
        <div class="banner">
            <h2><b>Klientu apkalpošana ir viena no mūsu galvenajām prioritātēm, tāpēc mēs piedāvājam jebkuram reģistrētam vai nereģistrētam mūsu vietnes lietotājam iespēju tieši nosūtīt mums ziņojumu par jautājumiem vai pakalpojumiem. Vienkārši ziņojumā ierakstiet vārdu, tēmu un savu kontaktinformāciju, mēs atbildēsim, cik ātri vien iespējams.</b></h2>
        </div>
        <div id="main">
            <form method="post" asp-controller="Message" asp-action="Submit">
                <div class="input-wrapper">
                    <input type="text" name="name" id="name" required>
                    <label for="name">Vārds</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="subject" id="subject" required>
                    <label for="subject">Temats</label>
                </div>
                <div class="input-wrapper">
                    <textarea name="message" id="message" rows="5" required></textarea>
                    <label for="message">Ziņas teksts</label>
                </div>
                <input type="submit" value="Sūtīt">
            </form>
        </div>        
    </section>
</body>

@section Scripts {
    <script>
        @if (TempData["MessageSent"] != null)
        {
            <text>
                alert("Ziņojums ir veiksmīgi nosūtīts!!");
            </text>
        }
    </script>
}
