@{
    ViewData["Title"] = "Atbalsts";
}
<body>

    <div class="banner">
        <h1>Modernais-IT</h1>
        <h2>Atbalsta forma:</h2>
    </div>

    <div id="sup_main">
        <div class="group">
            <header class="header">
                <h1 id="title" class="text-center">Product support form</h1>
                <p id="description" class="description text-center">
                    Lūdzu, ievadiet visus attiecīgos datus tālāk esošajā veidlapā, lai nodrošinātu, ka mēs pilnībā izprotam problēmu. Garantējam atbildi 3–4 darba dienu laikā pēc veidlapas iesniegšanas.
                    Pārliecinieties, vai visa informācija ir precīza.
                </p>
            </header>
            <form id="survey-form">
                <div class="form-group">
                    <strong>
                        <p>Ievadiet informāciju:</p>
                        <label id="name-label" for="name">Vārds</label>
                    </strong>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Ievadiet savu vārdu" required />
                </div>
                <div class="form-group">
                    <strong>
                        <label id="email-label" for="email">E-pasts</label>
                    </strong>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Ievadiet savu e-pastu" required />
                </div>
                <div class="form-group">
                    <strong>
                        <label id="number-label" for="number">Pakalpojums <span class="clue">(neobligāts)</span></label>
                    </strong>
                    <input type="text" name="Product" id="number" min="1" max="99" class="form-control" placeholder="Pakalpojums" />
                </div>
                <div class="form-group">
                    <strong>
                        <p class="page-header">Lūdzu aprakstie pašreizējo situāciju:</p>
                        <div class="chart-scale">
                            <button class="btn btn-scale btn-scale-asc-1" type="button">1</button>
                            <button class="btn btn-scale btn-scale-asc-2" type="button">2</button>
                            <button class="btn btn-scale btn-scale-asc-3" type="button">3</button>
                            <button class="btn btn-scale btn-scale-asc-4" type="button">4</button>
                            <button class="btn btn-scale btn-scale-asc-5" type="button">5</button>
                            <button class="btn btn-scale btn-scale-asc-6" type="button">6</button>
                            <button class="btn btn-scale btn-scale-asc-7" type="button">7</button>
                            <button class="btn btn-scale btn-scale-asc-8" type="button">8</button>
                            <button class="btn btn-scale btn-scale-asc-9" type="button">9</button>
                            <button class="btn btn-scale btn-scale-asc-10" type="button">10</button>
                            <hr />
                        </div>
                        <div class="form-group">
                            <p>Par kādu pakalpojuma veidu interesējaties?</p>
                            <select id="dropdown" name="role" class="form-control" required>
                                <option>Izvēlaties veidu</option>
                                <option value="Student">Uzņemuma iekārtošana</option>
                                <option value="Working">Mājaslapas izveide</option>
                                <option value="Bussiness">Biroja tehnikas atjaunošana</option>
                                <option value="Home maker">Pilna IT sistēmu nomaiņa</option>
                                <option value="Home maker">Programmatūras nomaiņa</option>
                                <option value="Home maker">Konsultācija</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Izvēltaties kontakta veidu</p>
                            <label>
                                <input type="radio" name="gender" value="Male" class="input-radio" />Zvans
                            </label>
                            <label>
                                <input type="radio" name="gender" value="Female" class="input-radio" />Video zvans
                            </label>
                            <label>
                                <input type="radio" name="gender" value="Other" class="input-radio" />E-pasts
                            </label>
                            <label>
                                <input type="radio" name="gender" value="Male" class="input-radio" />Izsauciens
                            </label>
                        </div>
                       
                        <div class="form-group">
                            <p>Ar kādām problēmām esat saskārušies?<span class="clue">(atzīmēt visus kas attiecas)</span></p>
                            <label>
                                <input name="prefer" value="Talcum powder" type="checkbox" class="input-checkbox" />Produkta ražošanas ātrums ir nepietiekams
                            </label>
                            <label>
                                <input name="prefer" value="Perfume" type="checkbox" class="input-checkbox" />Nepietiekami IT resursi
                            </label>
                            <label>
                                <input name="prefer" value="Bathing soap" type="checkbox" class="input-checkbox" />Lēns vai neadekvāts internets
                            </label>
                            <label>
                                <input name="prefer" value="Washing soap" type="checkbox" class="input-checkbox" />Biroja aparatūras vecums
                            </label>
                            <label>
                                <input name="prefer" value="sanitizer" type="checkbox" class="input-checkbox" />Nespēja attīstīt ražošanu
                            </label>
                            <label>
                                <input name="prefer" value="Shampoo" type="checkbox" class="input-checkbox" />Biežas tehniskās problēmas
                            </label>
                            <label>
                                <input name="prefer" value="face-wash" type="checkbox" class="input-checkbox" />Cits
                            </label>
                        </div>
                        <div class="form-group">
                            <p>Pievienojat papildus informāciju, kas palīdzētu Mums sniegt piemērotako piedāvājmu:</p>
                            <textarea id="comments" class="input-textarea form-control" name="comment" placeholder="Aprakstie situāciju..."></textarea>
                        </div>
                        <div class="form-group">
                            <p>Pievienojiet bildes ja nepieciešams</p>
                            <div class="file-upload">
                                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Pievienot attēlu</button>

                                <div class="image-upload-wrap">
                                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                                    <div class="drag-text">
                                        <h3>Ievelciet attēlu vai nospiediet lai izvelētos</h3>
                                    </div>
                                </div>
                                <div class="file-upload-content">
                                    <img class="file-upload-image" src="#" alt="your image" />
                                    <div class="image-title-wrap">
                                        <button type="button" onclick="removeUpload()" class="remove-image">Noņemt <span class="image-title">Pievienotais attēls</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit" value="submit" class="submit-button">Nosūtīt</button>
            </form>
        </div>

    </div>

    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>